# Data Pre-processing - 18IT048

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Iris.csv to Iris.csv

In [3]:
import pandas as pd
import io
data = pd.read_csv('Iris.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             151 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   151 non-null    float64
 3   PetalLengthCm  151 non-null    float64
 4   PetalWidthCm   151 non-null    float64
 5   Species        151 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [4]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa


# **Encoding**

1. Label encoder

2. Onehot encoder

In [5]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

**1. Label encoder**

In [6]:
le=LabelEncoder()
data['Species']=le.fit_transform(data['Species'])
data['Species'].value_counts()

2    51
1    50
0    50
Name: Species, dtype: int64

In [7]:
data

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2
150  151            NaN           3.4            5.1           2.2        2

[151 rows x 6 columns]

In [8]:
le.classes_

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

**2. Onehot Encoder**

In [9]:
data['Species'].value_counts()

2    51
1    50
0    50
Name: Species, dtype: int64

In [10]:
one_hot = OneHotEncoder()
transformed_data = one_hot.fit_transform(data['Species'].values.reshape(-1,1)).toarray()
one_hot.categories_

[array([0, 1, 2])]

In [11]:
transformed_data = pd.DataFrame(transformed_data , 
                                columns = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'])
transformed_data.head()

   Iris-setosa  Iris-versicolor  Iris-virginica
0          1.0              0.0             0.0
1          1.0              0.0             0.0
2          1.0              0.0             0.0
3          1.0              0.0             0.0
4          1.0              0.0             0.0

**Normalization & Standardization**

In [14]:
# consider only numerical columns
numeric_columns = [c for c in data.columns if data[c].dtype != np.dtype('O')]
numeric_columns

['Id',
 'SepalLengthCm',
 'SepalWidthCm',
 'PetalLengthCm',
 'PetalWidthCm',
 'Species']

In [ ]:
len(numeric_columns) , len(data.columns)

(6, 6)

In [25]:
numeric_columns.remove('Id')
temp_data = data[numeric_columns]
temp_data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0         5.100000           3.5            1.4           0.2        0
1         4.900000           3.0            1.4           0.2        0
2         4.700000           3.2            1.3           0.2        0
3         4.600000           3.1            1.5           0.2        0
4         5.000000           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
146       6.300000           2.5            5.0           1.9        2
147       6.500000           3.0            5.2           2.0        2
148       6.200000           3.4            5.4           2.3        2
149       5.900000           3.0            5.1           1.8        2
150       5.843333           3.4            5.1           2.2        2

[151 rows x 5 columns]

# **Normalization**

In [26]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler
import warnings
warnings.filterwarnings('ignore')
normalizer = MinMaxScaler()
temp_data.dropna(axis = 1 , inplace = True)
normalized_data = normalizer.fit_transform(temp_data)
pd.DataFrame(normalized_data , columns = temp_data.columns).head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0       0.222222      0.625000       0.067797      0.041667      0.0
1       0.166667      0.416667       0.067797      0.041667      0.0
2       0.111111      0.500000       0.050847      0.041667      0.0
3       0.083333      0.458333       0.084746      0.041667      0.0
4       0.194444      0.666667       0.067797      0.041667      0.0

# **Standardization**

**Method:1 Using preprocessing.scale() function**

In [17]:
for_stand=data
stand=preprocessing.scale(for_stand)
pd.DataFrame(stand,columns=data.columns)

           Id  SepalLengthCm  ...  PetalWidthCm   Species
0   -1.720618      -0.900681  ...     -1.318548 -1.230860
1   -1.697676      -1.143017  ...     -1.318548 -1.230860
2   -1.674735      -1.385353  ...     -1.318548 -1.230860
3   -1.651793      -1.506521  ...     -1.318548 -1.230860
4   -1.628852      -1.021849  ...     -1.318548 -1.230860
..        ...            ...  ...           ...       ...
146  1.628852       0.553333  ...      0.911171  1.214664
147  1.651793       0.795669  ...      1.042331  1.214664
148  1.674735       0.432165  ...      1.435810  1.214664
149  1.697676       0.068662  ...      0.780011  1.214664
150  1.720618            NaN  ...      1.304650  1.214664

[151 rows x 6 columns]

**Method:2 Using StandardScaler() function**

In [28]:
sc = StandardScaler()
for_stand = sc.fit_transform(for_stand)
for_stand

array([[-1.720618  , -0.90068117,  1.02799193, -1.34820926, -1.31854815,
        -1.23086002],
       [-1.69767643, -1.14301691, -0.13041689, -1.34820926, -1.31854815,
        -1.23086002],
       [-1.67473486, -1.38535265,  0.33294664, -1.4051546 , -1.31854815,
        -1.23086002],
       [-1.65179328, -1.50652052,  0.10126488, -1.29126392, -1.31854815,
        -1.23086002],
       [-1.62885171, -1.02184904,  1.25967369, -1.34820926, -1.31854815,
        -1.23086002],
       [-1.60591014, -0.53717756,  1.95471898, -1.17737323, -1.0562283 ,
        -1.23086002],
       [-1.58296856, -1.50652052,  0.79631017, -1.34820926, -1.18738822,
        -1.23086002],
       [-1.56002699, -1.02184904,  0.79631017, -1.29126392, -1.31854815,
        -1.23086002],
       [-1.53708542, -1.74885626, -0.36209865, -1.34820926, -1.31854815,
        -1.23086002],
       [-1.51414384, -1.14301691,  0.10126488, -1.29126392, -1.44970808,
        -1.23086002],
       [-1.49120227, -0.53717756,  1.49135546, -1.29126392, -1.31854815,
        -1.23086002],
       [-1.4682607 , -1.26418478,  0.79631017, -1.23431858, -1.31854815,
        -1.23086002],
       [-1.44531912, -1.26418478, -0.13041689, -1.34820926, -1.44970808,
        -1.23086002],
       [-1.42237755, -1.87002413, -0.13041689, -1.51904529, -1.44970808,
        -1.23086002],
       [-1.39943598, -0.05250608,  2.18640075, -1.46209994, -1.31854815,
        -1.23086002],
       [-1.3764944 , -0.17367395,  3.1131278 , -1.29126392, -1.0562283 ,
        -1.23086002],
       [-1.35355283, -0.53717756,  1.95471898, -1.4051546 , -1.0562283 ,
        -1.23086002],
       [-1.33061126, -0.90068117,  1.02799193, -1.34820926, -1.18738822,
        -1.23086002],
       [-1.30766968, -0.17367395,  1.72303722, -1.17737323, -1.18738822,
        -1.23086002],
       [-1.28472811, -0.90068117,  1.72303722, -1.29126392, -1.18738822,
        -1.23086002],
       [-1.26178654, -0.53717756,  0.79631017, -1.17737323, -1.31854815,
        -1.23086002],
       [-1.23884496, -0.90068117,  1.49135546, -1.29126392, -1.0562283 ,
        -1.23086002],
       [-1.21590339, -1.50652052,  1.25967369, -1.57599063, -1.31854815,
        -1.23086002],
       [-1.19296182, -0.90068117,  0.5646284 , -1.17737323, -0.92506837,
        -1.23086002],
       [-1.17002024, -1.26418478,  0.79631017, -1.06348255, -1.31854815,
        -1.23086002],
       [-1.14707867, -1.02184904, -0.13041689, -1.23431858, -1.31854815,
        -1.23086002],
       [-1.1241371 , -1.02184904,  0.79631017, -1.23431858, -1.0562283 ,
        -1.23086002],
       [-1.10119552, -0.7795133 ,  1.02799193, -1.29126392, -1.31854815,
        -1.23086002],
       [-1.07825395, -0.7795133 ,  0.79631017, -1.34820926, -1.31854815,
        -1.23086002],
       [-1.05531238, -1.38535265,  0.33294664, -1.23431858, -1.31854815,
        -1.23086002],
       [-1.0323708 , -1.26418478,  0.10126488, -1.23431858, -1.31854815,
        -1.23086002],
       [-1.00942923, -0.53717756,  0.79631017, -1.29126392, -1.0562283 ,
        -1.23086002],
       [-0.98648766, -0.7795133 ,  2.41808251, -1.29126392, -1.44970808,
        -1.23086002],
       [-0.96354608, -0.41600969,  2.64976427, -1.34820926, -1.31854815,
        -1.23086002],
       [-0.94060451, -1.14301691,  0.10126488, -1.29126392, -1.44970808,
        -1.23086002],
       [-0.91766294, -1.02184904,  0.33294664, -1.46209994, -1.31854815,
        -1.23086002],
       [-0.89472136, -0.41600969,  1.02799193, -1.4051546 , -1.31854815,
        -1.23086002],
       [-0.87177979, -1.14301691,  0.10126488, -1.29126392, -1.44970808,
        -1.23086002],
       [-0.84883822, -1.74885626, -0.13041689, -1.4051546 , -1.31854815,
        -1.23086002],
       [-0.82589664, -0.90068117,  0.79631017, -1.29126392, -1.31854815,
        -1.23086002],
       [-0.80295507, -1.02184904,  1.02799193, -1.4051546 , -1.18738822,
        -1.23086002],
       [-0.7800135 , -1.62768839, -1.75218923, -1.4051546 , -1.18738822,
        -1.23086002],
       [-0.75707192, -1.74885626,  0.33294664, -1.4051546 , -1.31854815,
        -1.23086002],
       [-0.73413035, -1.02184904,  1.02799193, -1.23431858, -0.79390844,
        -1.23086002],
       [-0.71118877, -0.90068117,  1.72303722, -1.06348255, -1.0562283 ,
        -1.23086002],
       [-0.6882472 , -1.26418478, -0.13041689, -1.34820926, -1.18738822,
        -1.23086002],
       [-0.66530563, -0.90068117,  1.72303722, -1.23431858, -1.31854815,
        -1.23086002],
       [-0.64236405, -1.50652052,  0.33294664, -1.34820926, -1.31854815,
        -1.23086002],
       [-0.61942248, -0.65834543,  1.49135546, -1.29126392, -1.31854815,
        -1.23086002],
       [-0.59648091, -1.02184904,  0.5646284 , -1.34820926, -1.31854815,
        -1.23086002],
       [-0.57353933,  1.40150837,  0.33294664,  0.53098703,  0.25537099,
        -0.00809776],
       [-0.55059776,  0.67450115,  0.33294664,  0.41709635,  0.38653091,
        -0.00809776],
       [-0.52765619,  1.2803405 ,  0.10126488,  0.64487772,  0.38653091,
        -0.00809776],
       [-0.50471461, -0.41600969, -1.75218923,  0.13236964,  0.12421106,
        -0.00809776],
       [-0.48177304,  0.79566902, -0.59378041,  0.47404169,  0.38653091,
        -0.00809776],
       [-0.45883147, -0.17367395, -0.59378041,  0.41709635,  0.12421106,
        -0.00809776],
       [-0.43588989,  0.55333328,  0.5646284 ,  0.53098703,  0.51769084,
        -0.00809776],
       [-0.41294832, -1.14301691, -1.52050747, -0.26624776, -0.26926873,
        -0.00809776],
       [-0.39000675,  0.91683689, -0.36209865,  0.47404169,  0.12421106,
        -0.00809776],
       [-0.36706517, -0.7795133 , -0.82546218,  0.07542429,  0.25537099,
        -0.00809776],
       [-0.3441236 , -1.02184904, -2.44723452, -0.15235707, -0.26926873,
        -0.00809776],
       [-0.32118203,  0.06866179, -0.13041689,  0.24626032,  0.38653091,
        -0.00809776],
       [-0.29824045,  0.18982966, -1.98387099,  0.13236964, -0.26926873,
        -0.00809776],
       [-0.27529888,  0.31099753, -0.36209865,  0.53098703,  0.25537099,
        -0.00809776],
       [-0.25235731, -0.29484182, -0.36209865, -0.09541173,  0.12421106,
        -0.00809776],
       [-0.22941573,  1.03800476,  0.10126488,  0.36015101,  0.25537099,
        -0.00809776],
       [-0.20647416, -0.29484182, -0.13041689,  0.41709635,  0.38653091,
        -0.00809776],
       [-0.18353259, -0.05250608, -0.82546218,  0.18931498, -0.26926873,
        -0.00809776],
       [-0.16059101,  0.4321654 , -1.98387099,  0.41709635,  0.38653091,
        -0.00809776],
       [-0.13764944, -0.29484182, -1.2888257 ,  0.07542429, -0.1381088 ,
        -0.00809776],
       [-0.11470787,  0.06866179,  0.33294664,  0.58793237,  0.7800107 ,
        -0.00809776],
       [-0.09176629,  0.31099753, -0.59378041,  0.13236964,  0.12421106,
        -0.00809776],
       [-0.06882472,  0.55333328, -1.2888257 ,  0.64487772,  0.38653091,
        -0.00809776],
       [-0.04588315,  0.31099753, -0.59378041,  0.53098703, -0.00694887,
        -0.00809776],
       [-0.02294157,  0.67450115, -0.36209865,  0.30320566,  0.12421106,
        -0.00809776],
       [ 0.        ,  0.91683689, -0.13041689,  0.36015101,  0.25537099,
        -0.00809776],
       [ 0.02294157,  1.15917263, -0.59378041,  0.58793237,  0.25537099,
        -0.00809776],
       [ 0.04588315,  1.03800476, -0.13041689,  0.70182306,  0.64885077,
        -0.00809776],
       [ 0.06882472,  0.18982966, -0.36209865,  0.41709635,  0.38653091,
        -0.00809776],
       [ 0.09176629, -0.17367395, -1.05714394, -0.15235707, -0.26926873,
        -0.00809776],
       [ 0.11470787, -0.41600969, -1.52050747,  0.01847895, -0.1381088 ,
        -0.00809776],
       [ 0.13764944, -0.41600969, -1.52050747, -0.03846639, -0.26926873,
        -0.00809776],
       [ 0.16059101, -0.05250608, -0.82546218,  0.07542429, -0.00694887,
        -0.00809776],
       [ 0.18353259,  0.18982966, -0.82546218,  0.7587684 ,  0.51769084,
        -0.00809776],
       [ 0.20647416, -0.53717756, -0.13041689,  0.41709635,  0.38653091,
        -0.00809776],
       [ 0.22941573,  0.18982966,  0.79631017,  0.41709635,  0.51769084,
        -0.00809776],
       [ 0.25235731,  1.03800476,  0.10126488,  0.53098703,  0.38653091,
        -0.00809776],
       [ 0.27529888,  0.55333328, -1.75218923,  0.36015101,  0.12421106,
        -0.00809776],
       [ 0.29824045, -0.29484182, -0.13041689,  0.18931498,  0.12421106,
        -0.00809776],
       [ 0.32118203, -0.41600969, -1.2888257 ,  0.13236964,  0.12421106,
        -0.00809776],
       [ 0.3441236 , -0.41600969, -1.05714394,  0.36015101, -0.00694887,
        -0.00809776],
       [ 0.36706517,  0.31099753, -0.13041689,  0.47404169,  0.25537099,
        -0.00809776],
       [ 0.39000675, -0.05250608, -1.05714394,  0.13236964, -0.00694887,
        -0.00809776],
       [ 0.41294832, -1.02184904, -1.75218923, -0.26624776, -0.26926873,
        -0.00809776],
       [ 0.43588989, -0.29484182, -0.82546218,  0.24626032,  0.12421106,
        -0.00809776],
       [ 0.45883147, -0.17367395, -0.13041689,  0.24626032, -0.00694887,
        -0.00809776],
       [ 0.48177304, -0.17367395, -0.36209865,  0.24626032,  0.12421106,
        -0.00809776],
       [ 0.50471461,  0.4321654 , -0.36209865,  0.30320566,  0.12421106,
        -0.00809776],
       [ 0.52765619, -0.90068117, -1.2888257 , -0.43708379, -0.1381088 ,
        -0.00809776],
       [ 0.55059776, -0.17367395, -0.59378041,  0.18931498,  0.12421106,
        -0.00809776],
       [ 0.57353933,  0.55333328,  0.5646284 ,  1.27127648,  1.6981302 ,
         1.2146645 ],
       [ 0.59648091, -0.05250608, -0.82546218,  0.7587684 ,  0.91117063,
         1.2146645 ],
       [ 0.61942248,  1.52267624, -0.13041689,  1.21433114,  1.17349048,
         1.2146645 ],
       [ 0.64236405,  0.55333328, -0.36209865,  1.04349511,  0.7800107 ,
         1.2146645 ],
       [ 0.66530563,  0.79566902, -0.13041689,  1.1573858 ,  1.30465041,
         1.2146645 ],
       [ 0.6882472 ,  2.12851559, -0.13041689,  1.61294853,  1.17349048,
         1.2146645 ],
       [ 0.71118877, -1.14301691, -1.2888257 ,  0.41709635,  0.64885077,
         1.2146645 ],
       [ 0.73413035,  1.76501198, -0.36209865,  1.44211251,  0.7800107 ,
         1.2146645 ],
       [ 0.75707192,  1.03800476, -1.2888257 ,  1.1573858 ,  0.7800107 ,
         1.2146645 ],
       [ 0.7800135 ,  1.64384411,  1.25967369,  1.32822182,  1.6981302 ,
         1.2146645 ],
       [ 0.80295507,  0.79566902,  0.33294664,  0.7587684 ,  1.04233056,
         1.2146645 ],
       [ 0.82589664,  0.67450115, -0.82546218,  0.87265908,  0.91117063,
         1.2146645 ],
       [ 0.84883822,  1.15917263, -0.13041689,  0.98654977,  1.17349048,
         1.2146645 ],
       [ 0.87177979, -0.17367395, -1.2888257 ,  0.70182306,  1.04233056,
         1.2146645 ],
       [ 0.89472136, -0.05250608, -0.59378041,  0.7587684 ,  1.56697027,
         1.2146645 ],
       [ 0.91766294,  0.67450115,  0.33294664,  0.87265908,  1.43581034,
         1.2146645 ],
       [ 0.94060451,  0.79566902, -0.13041689,  0.98654977,  0.7800107 ,
         1.2146645 ],
       [ 0.96354608,  2.24968346,  1.72303722,  1.66989387,  1.30465041,
         1.2146645 ],
       [ 0.98648766,  2.24968346, -1.05714394,  1.78378456,  1.43581034,
         1.2146645 ],
       [ 1.00942923,  0.18982966, -1.98387099,  0.70182306,  0.38653091,
         1.2146645 ],
       [ 1.0323708 ,  1.2803405 ,  0.33294664,  1.10044045,  1.43581034,
         1.2146645 ],
       [ 1.05531238, -0.29484182, -0.59378041,  0.64487772,  1.04233056,
         1.2146645 ],
       [ 1.07825395,  2.24968346, -0.59378041,  1.66989387,  1.04233056,
         1.2146645 ],
       [ 1.10119552,  0.55333328, -0.82546218,  0.64487772,  0.7800107 ,
         1.2146645 ],
       [ 1.1241371 ,  1.03800476,  0.5646284 ,  1.10044045,  1.17349048,
         1.2146645 ],
       [ 1.14707867,  1.64384411,  0.33294664,  1.27127648,  0.7800107 ,
         1.2146645 ],
       [ 1.17002024,  0.4321654 , -0.59378041,  0.58793237,  0.7800107 ,
         1.2146645 ],
       [ 1.19296182,  0.31099753, -0.13041689,  0.64487772,  0.7800107 ,
         1.2146645 ],
       [ 1.21590339,  0.67450115, -0.59378041,  1.04349511,  1.17349048,
         1.2146645 ],
       [ 1.23884496,  1.64384411, -0.13041689,  1.1573858 ,  0.51769084,
         1.2146645 ],
       [ 1.26178654,  1.88617985, -0.59378041,  1.32822182,  0.91117063,
         1.2146645 ],
       [ 1.28472811,  2.4920192 ,  1.72303722,  1.49905785,  1.04233056,
         1.2146645 ],
       [ 1.30766968,  0.67450115, -0.59378041,  1.04349511,  1.30465041,
         1.2146645 ],
       [ 1.33061126,  0.55333328, -0.59378041,  0.7587684 ,  0.38653091,
         1.2146645 ],
       [ 1.35355283,  0.31099753, -1.05714394,  1.04349511,  0.25537099,
         1.2146645 ],
       [ 1.3764944 ,  2.24968346, -0.13041689,  1.32822182,  1.43581034,
         1.2146645 ],
       [ 1.39943598,  0.55333328,  0.79631017,  1.04349511,  1.56697027,
         1.2146645 ],
       [ 1.42237755,  0.67450115,  0.10126488,  0.98654977,  0.7800107 ,
         1.2146645 ],
       [ 1.44531912,  0.18982966, -0.13041689,  0.58793237,  0.7800107 ,
         1.2146645 ],
       [ 1.4682607 ,  1.2803405 ,  0.10126488,  0.92960443,  1.17349048,
         1.2146645 ],
       [ 1.49120227,  1.03800476,  0.10126488,  1.04349511,  1.56697027,
         1.2146645 ],
       [ 1.51414384,  1.2803405 ,  0.10126488,  0.7587684 ,  1.43581034,
         1.2146645 ],
       [ 1.53708542, -0.05250608, -0.82546218,  0.7587684 ,  0.91117063,
         1.2146645 ],
       [ 1.56002699,  1.15917263,  0.33294664,  1.21433114,  1.43581034,
         1.2146645 ],
       [ 1.58296856,  1.03800476,  0.5646284 ,  1.10044045,  1.6981302 ,
         1.2146645 ],
       [ 1.60591014,  1.03800476, -0.13041689,  0.81571374,  1.43581034,
         1.2146645 ],
       [ 1.62885171,  0.55333328, -1.2888257 ,  0.70182306,  0.91117063,
         1.2146645 ],
       [ 1.65179328,  0.79566902, -0.13041689,  0.81571374,  1.04233056,
         1.2146645 ],
       [ 1.67473486,  0.4321654 ,  0.79631017,  0.92960443,  1.43581034,
         1.2146645 ],
       [ 1.69767643,  0.06866179, -0.13041689,  0.7587684 ,  0.7800107 ,
         1.2146645 ],
       [ 1.720618  ,         nan,  0.79631017,  0.7587684 ,  1.30465041,
         1.2146645 ]])

# **Discretization**

In [19]:
from sklearn.preprocessing import KBinsDiscretizer
temp_data.head()

   Id  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1           3.5            1.4           0.2        0
1   2           3.0            1.4           0.2        0
2   3           3.2            1.3           0.2        0
3   4           3.1            1.5           0.2        0
4   5           3.6            1.4           0.2        0

**Quantile Discretization Transform**

In [20]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='quantile')
new_data = trans.fit_transform(temp_data)
pd.DataFrame(new_data,columns = temp_data.columns )

      Id  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    0.0           7.0            1.0           1.0      0.0
1    0.0           4.0            1.0           1.0      0.0
2    0.0           6.0            0.0           1.0      0.0
3    0.0           5.0            2.0           1.0      0.0
4    0.0           8.0            1.0           1.0      0.0
..   ...           ...            ...           ...      ...
146  9.0           1.0            7.0           7.0      1.0
147  9.0           4.0            7.0           7.0      1.0
148  9.0           7.0            8.0           8.0      1.0
149  9.0           4.0            7.0           6.0      1.0
150  9.0           7.0            7.0           8.0      1.0

[151 rows x 5 columns]

 **Uniform Discretization Transform**

In [21]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='uniform')
new_data = trans.fit_transform(temp_data)
pd.DataFrame(new_data,columns = temp_data.columns )

      Id  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    0.0           6.0            0.0           0.0      0.0
1    0.0           4.0            0.0           0.0      0.0
2    0.0           5.0            0.0           0.0      0.0
3    0.0           4.0            0.0           0.0      0.0
4    0.0           6.0            0.0           0.0      0.0
..   ...           ...            ...           ...      ...
146  9.0           2.0            6.0           7.0      9.0
147  9.0           4.0            7.0           7.0      9.0
148  9.0           5.0            7.0           9.0      9.0
149  9.0           4.0            6.0           7.0      9.0
150  9.0           5.0            6.0           8.0      9.0

[151 rows x 5 columns]

**KMeans Clustered Discretization Transform**

In [22]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='kmeans')
new_data = trans.fit_transform(temp_data)
pd.DataFrame(new_data,columns = temp_data.columns )

      Id  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    0.0           6.0            1.0           0.0      0.0
1    0.0           4.0            1.0           0.0      0.0
2    0.0           4.0            1.0           0.0      0.0
3    0.0           4.0            1.0           0.0      0.0
4    0.0           6.0            1.0           0.0      0.0
..   ...           ...            ...           ...      ...
146  9.0           2.0            6.0           7.0      2.0
147  9.0           4.0            6.0           7.0      2.0
148  9.0           5.0            7.0           9.0      2.0
149  9.0           4.0            6.0           7.0      2.0
150  9.0           5.0            6.0           8.0      2.0

[151 rows x 5 columns]

# **Handling With Missing Values**

In [23]:
data.isnull().any()

Id               False
SepalLengthCm     True
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

In [24]:
data['SepalLengthCm'].fillna(data['SepalLengthCm'].mean(),inplace=True)
data.isnull().any()

Id               False
SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool