In [1]:
from bs4 import BeautifulSoup as bs
import requests
import csv
import pandas as pd

In [2]:
url= 'https://www.flipkart.com/search?q=watch+band&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=of'
page= requests.get(url)
soup = bs(page.content, "html.parser")

In [3]:
name=[]
pr=[]
dis=[]

In [4]:
block = soup.find_all("div", class_="_2kHMtA")
title = soup.find_all("div", class_="_4rR01T")
price = soup.find_all("div", class_="_30jeq3 _1_WHN1")
discount = soup.find_all("div", class_="_3Ay6Sb")
for i in range(0,len(block)):
  name.append(title[i].get_text())
  pr.append(price[i].get_text())
  dis.append(discount[i].get_text())

In [5]:
final=[]
for i in pr:
    i=i[1:]
    final.append(i)

In [6]:
df=pd.DataFrame({'Band Name':name,'Price in Rs.':final,'Discount Available':dis,})
df.head()

                                       Band Name  ... Discount Available
0                 rivan enterprise DIGITAL WATCH  ...            71% off
1                                Mi Smart Band 4  ...            16% off
2  Samaaya LED Digital Good Looking Unisex Watch  ...            73% off
3      Welrock Fitness Notifier wrist smart band  ...            68% off
4  Moana M2 Black LED Band Unisex Watch For Kids  ...            72% off

[5 rows x 3 columns]

In [7]:
df.to_csv('Watch_band.csv', index=False, encoding='utf-8')